.main-container{
  display: grid;
  row-gap: 40px;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 200px;
}
.feature-title{
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: #263F82;
}
.features-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.left-box, .right-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  padding-top: 40px;
  width: 500px;
}
.left-box img, .right-box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(73, 73, 73, 0.251);
  margin-right: 20px;
}
.box-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.box-title{
  font-size: 25px;
  font-weight: 600;
  color: #263F82;
  text-align: left;
  font-weight: 700;
}
.box-subtitle{
  font-size: 20px;
  font-weight: 400;
  color: #494949;
  text-align: center;
  margin-bottom: 20px;
  text-align: left;
}

.mid-box{
  position: relative;
}
.mid-box img {
  width:500px;
  height: 800px;
  object-fit: cover;
}
.mid-box .logo {
  position: absolute;
  top: 150px;
  left: 32%;
  width: 200px;
  height: auto;
}
.mid-box button{
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translate(-45%);

  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  width: 280px;

  color: white;
  background-color: #F47C1F;
  border: solid;
  border-width: 2px;
  border-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.mid-box button:hover {
  background-color: #ffffff;
  color: #F47C1F;
  border-color: #F47C1F;
}