.hero-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 200px;
  min-height: 300px;
}

.hero-left{
  width: 700px;
}
.hero-left, .hero-mid, .hero-right{
  height: 100%;
}
.hero-mid img{
  width: 850px;
  height: auto;
  object-fit: cover;
}

.hero-right img{
  width: 30px;
  height: auto;
  object-fit: cover;
  background-color: #4DAEDB;
  padding: 12px;
  border-radius: 100%;
}

.hero-left .title{
  text-align: left;
  font-size: 80px;
  font-weight: 700;
  color: #263F82;
}
.hero-left .subtitle{
  text-align: left;
  font-size: 30px;
  font-weight: 400;
  color: #494949;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-left .button-set{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.hero-bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
}

.hero-bottom .cell{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 20px;
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  padding: 15px 40px;
  border-radius: 10px;
}

.hero-bottom .cell img{
  width: 80px;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}
.hero-bottom .cell .cell-text{
  margin: 0;
  font-size: 16px;
  text-align: left;
}
.cell-text h2{
  color: #263F82;
  margin-bottom: -12px;
  margin-top: -10px;
  font-size: 40px;
  font-weight: 700;
}
.cell-text p{
  color: #636363;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.hero-left .btn-1, .hero-left .btn-2{
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
}
.hero-left .btn-1{
  color: white;
  background-color: #F47C1F;
  border: solid;
  border-width: 2px;
  border-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.hero-left .btn-2{
  color: #263F82;
  background-color: #ffffff;
  border: solid;
  border-width: 2px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.hero-left .btn-1, .hero-left .btn-2{
  margin: 10px 5px;
}
.hero-left .btn-1:hover{
  cursor: pointer;
  background-color: white;
  color: #F47C1F;
  border-color: #F47C1F;
}

.hero-left .btn-2:hover{
  cursor: pointer;
  background-color: #263F82;
  color: white;
  border-color: white;
}

.highlight{
  color: #F47C1F;
}