.service-main-container{
  display: grid;
  row-gap: 60px;
  margin-left: 250px;
  margin-right: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.service-main-container .title-container{
  font-size: 30px;
  text-align: left;
}

.service-main-container .title-container h1{
  margin: 0;
}

.service-container{
  width: 100%;  
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-box{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(73, 73, 73, 0.348);
}

.service-box img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 20px;
  border-radius: 10px;
}
.service-box h2{
  font-size: 30px;
  font-weight: 700;
  color: black;
  text-align: center;
  margin: 10px 0 5px 0;
}
.service-box p{
  font-size: 25px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin: 0;
}